<div class="header">
  <button><span class="material-symbols-outlined">
    menu
    </span></button>
    <p>header works!</p>
    <div class="theme-control">
      @if (themeService.themeSignal() === 'dark') {
        <button (click)="toggleTheme()"><span class="material-symbols-outlined">
          dark_mode
          </span></button>
      } @else {
        <button (click)="toggleTheme()"><span class="material-symbols-outlined">
          wb_sunny
          </span></button>
      }
    </div>
</div>
